.c2 {
  background-color: #ffffff;
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 15pt;
  line-height: 1.7727272727272727;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c6 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c8 {
  color: #1c3643;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c18 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.c9 {
  background-color: #ffffff;
  padding-top: 15pt;
  padding-bottom: 8pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c3 {
  color: #606164;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13.5pt;
  font-family: "Arial";
  font-style: normal;
}
.c11 {
  color: #1c3643;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13.5pt;
  font-family: "Arial";
  font-style: normal;
}
.c1 {
  color: #0791e6;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 26pt;
  font-family: "Arial";
  font-style: normal;
}
.c10 {
  color: #0070c0;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 18pt;
  font-family: "Arial";
  font-style: normal;
}
.c15 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c25 {
  color: #3a3c3f;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c17 {
  color: #4472c4;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 18pt;
  font-family: "Arial";
  font-style: normal;
}
.c4 {
  background-color: #ffffff;
  padding-top: 15pt;
  padding-bottom: 15pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c13 {
  color: #0791e6;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c0 {
  background-color: #ffffff;
  padding-top: 15pt;
  padding-bottom: 15pt;
  line-height: 1.7727272727272727;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c14 {
  color: #44546a;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal;
}
.c19 {
  padding-top: 15pt;
  padding-bottom: 15pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c16 {
  -webkit-text-decoration-skip: none;
  color: #44546a;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.c23 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal;
}
.c5 {
  background-color: #ffffff;
}
.c29 {
  color: inherit;
  text-decoration: inherit;
}
.c21 {
  color: #0070c0;
  font-size: 18pt;
}
.c20 {
  color: #606164;
  font-size: 13.5pt;
}
.c24 {
  color: #4472c4;
  font-size: 18pt;
}
.c7 {
  padding: 0;
  margin: 0;
}
.c27 {
  color: #595959;
  font-size: 14pt;
}
.c12 {
  font-size: 15pt;
}
.c26 {
  font-weight: 700;
}
.c28 {
  font-size: 13.5pt;
}
.c22 {
  color: #44546a;
}
.cb6 {
  -webkit-text-decoration-skip: none;
  color: #0a8ecd;
  font-weight: 400;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 14pt;
  font-family: "Arial";
  font-style: normal;
}
.cb3 {
  margin-left: 18pt;
  padding-top: 0pt;
  text-indent: -18pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.cb33 {
  margin-left: 21pt;
  padding-top: 0pt;
  text-indent: -21pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.cb21 {
  margin-left: 14pt;
  padding-top: 0pt;
  text-indent: -14pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.cb28 {
  padding-top: 0pt;
  text-indent: -7pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.cb4 {
  color: #1c3643;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Arial";
  font-style: normal;
}
.cb32 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.cb5 {
  color: #1c3643;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Arial";
  font-style: normal;
}
.cb20 {
  margin-left: -14pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.cb2 {
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.cb1 {
  padding-top: 15pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.cb12 {
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal;
}
.cb15 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #0a8ecd;
  text-decoration: underline;
}
.cb0 {
  font-size: 7pt;
  font-family: "Times New Roman";
  color: #1c3643;
  font-weight: 400;
}
.cb23 {
  font-size: 7pt;
  font-family: "Times New Roman";
  font-weight: 700;
}
.cb14 {
  font-size: 7pt;
  font-family: "Times New Roman";
  font-weight: 400;
}
.cb25 {
  color: #000000;
  font-weight: 400;
  font-size: 11pt;
}
.cb8 {
  font-size: 14pt;
  color: #1c3643;
  font-weight: 700;
}
.cb30 {
  background-color: #ffffff;
}
.cb26 {
  margin-left: 14pt;
  text-indent: -14pt;
}
.cb24 {
  font-weight: 700;
  font-size: 26pt;
}
.cb7 {
  margin-left: 216pt;
  text-indent: -108pt;
}
.cb31 {
  margin-left: 11pt;
  text-indent: -18pt;
}
.cb13 {
  color: inherit;
  text-decoration: inherit;
}
.cb27 {
  margin-left: -7pt;
  text-indent: -7pt;
}
.cb19 {
  margin-left: 18pt;
  text-indent: -18pt;
}
.cb18 {
  margin-left: 54pt;
  text-indent: -18pt;
}
.cb11 {
  color: #1c3643;
  font-size: 10pt;
}
.cb16 {
  color: #1c3643;
}
.cb10 {
  font-size: 14pt;
}
.cb29 {
  font-weight: 700;
}
.cb17 {
  color: #5b9bd5;
}
.cb22 {
  margin-left: -14pt;
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.politica * {
  background-color: white;
}
